# Ignore node_modules for backend projects
/be_wismon_keuangan_test/node_modules
/be_wismon_keuangan/node_modules

# Ignore Flutter build artifacts and temporary files
/wismon_keuangan/.dart_tool/
/wismon_keuangan/build/
